.container__footer {
    height: 50px;
    background-color: #afe6a8;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__btn {
    color: white;
    background-color: darkgreen;
    height: 30px;

}