.container__header {
    height: 50px;
    background-color: #afe6a8;
    display: flex;
    align-items: center;
}

.header__btn {
    color: white;
    background-color: darkgreen;
    height: 30px;
}